@model EmlakBazasi.Models.WebModel
@{
    ViewBag.Title = "Index";
}


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid" style="margin-top:30px">
            <div class="card mb-4">
                <div style="padding: 1.25rem;" class="row">
                    <a class="btn btn-primary btn-block" href="/home/index/0" style=" width:150px; background-color:#006687; border-color:#005c7a">Tam siyahı</a>
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" style="background-color:#388f58" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Axtarış
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/home/index/1">Aktivlər</a>
                            <a class="dropdown-item" href="/home/index/2">Favoritlər</a>
                            <a class="dropdown-item" href="/home/index/3">Demo</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/home/index/4">Gecikənlər</a>
                            <a class="dropdown-item" href="/home/index/5">Gecikənlər+24</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/home/index/7">Fərqləndirilənlər</a>
                            <a class="dropdown-item" href="/home/index/8">Fərqləndirilməyənlər</a>
                            <a class="dropdown-item" href="/home/index/6">Silinmişlər</a>
                        </div>
                    </div>
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" style="background-color:#388f58" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Əməliyyatlar
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="javascript:void()" data-toggle="modal" data-target="#allNoteListModal" onclick="showAllNote()">Qeydlər</a>
                            <a class="dropdown-item" href="javascript:void()" data-toggle="modal" data-target="#allPaymentListModal" onclick="showAllPayment()">Ödənişlər</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void()" data-toggle="modal" data-target="#addUserModal" onclick="getInfoForAddUser()">Yeni istifadəçi əlavə et</a>
                        </div>
                    </div>
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" style="background-color:#388f58" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Digər
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="javascript:void()" onclick="clearAllTags()">Fərqləndirilmələri ləğv et</a>
                        </div>
                    </div>
                    <div class="dropdown show">
                        <a class="btn btn-primary btn-block" href="javascript:void()" data-toggle="modal" data-target="#sourcesStatisticsModal" onclick="getSourcesStatistics()" style="width:150px; background-color:#388f58; border-color:#388f58">Mənbə</a>
                    </div>
                    <a class="btn btn-danger btn-block" href="/login/logoutUser" style="width:100px;">Çıxış</a>
                </div>

                <div class="card-body">

                    <div class="table-responsive" style="min-height:500px;">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="font-size:13px;">
                            <thead>
                                <tr style="background-color:#222; color:white">
                                    <th>No</th>
                                    <th></th>
                                    <th></th>
                                    <th>Oxunma kodu</th>
                                    <th>Növü</th>
                                    <th>Şirkət adı</th>
                                    <th>Əlaqəli şəxs</th>
                                    <th>Başlama tarxi</th>
                                    <th>Əlaqə nömrəsi</th>
                                    <th>Son ödəniş</th>
                                    <th>Xatırlatma</th>
                                    <th>Oxunma statusu</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var user in Model.view_rem_user_list)
                                {

                                    <tr style="background-color: @user.utils.trBgColor; font-style: @user.utils.trFontStyle; color: @user.utils.trTextColor ">
                                        <td>@user.utils.rowGeneral [@user.utils.rowCount]</td>
                                        <td class="@user.utils.tagColor"></td>
                                        <td class="@user.utils.subscriberColor"></td>
                                        <td>@user.user</td>
                                        <td>@user.user_type_name</td>
                                        <td>@user.office_name</td>
                                        <td>@user.full_name</td>
                                        <td>@(user.start_date != null ? Convert.ToDateTime(user.start_date).ToString("yyyy-MM-dd") : DateTime.MinValue.ToString("yyyy-MM-dd"))</td>
                                        <td>@user.phone_number</td>
                                        <td>@(user.payment_date != null ? Convert.ToDateTime(user.payment_date).ToString("yyyy-MM-dd") : DateTime.MinValue.ToString("yyyy-MM-dd"))</td>
                                        <td class="@user.utils.reminderColor" title="@user.reminder_note">@Convert.ToDateTime(user.reminder_date).ToString("yyyy-MM-dd")</td>
                                        <td style="min-width:120px;">
                                            @user.utils.readingStatusLastDate
                                            <br />
                                            (@user.utils.readingStatusHours) - saat
                                            <br />
                                            @user.utils.readingStatusVersion
                                        </td>
                                        <td>@user.utils.status</td>
                                        <td style="font-style:normal !important; color:white !important">
                                            <div class="row">
                                                <div class="dropdown show">
                                                    <a class="btn btn-secondary dropdown-toggle" style="background-color:#31b0d5" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Bildiriş
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item" href="javascript:void()" onclick="sendSMS('@user.phone_number', 1)">Yeni versiya ilə əlaqəli mesaj</a>
                                                        <a class="dropdown-item" href="javascript:void()" onclick="sendSMS('@user.phone_number', 2)">Oxunma problemi ilə əlaqəli mesaj</a>
                                                        <a class="dropdown-item" href="javascript:void()" onclick="sendSMS('@user.phone_number', 3)">Ödəniş ilə əlaqəli mesaj</a>

                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="javascript:void()" onclick="sendMessage('@user.id_user', '@user.phone_number','@Request.QueryString["password"]',2)">Oxunma problemi ilə əlaqəli SMS</a>
                                                        <a class="dropdown-item" href="javascript:void()" onclick="sendMessage('@user.id_user', '@user.phone_number','@Request.QueryString["password"]',3)">Ödəniş ilə əlaqəli SMS</a>

                                                    </div>
                                                </div>
                                                <div class="dropdown show">
                                                    <a class="btn btn-secondary dropdown-toggle" style="background-color:#E99002" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Status
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item" href="javascript:void()" onclick="deactiveUser(@user.id_user)">Deaktiv et</a>
                                                        <a class="dropdown-item" href="javascript:void()" onclick="blockUser(@user.id_user)">Məhdudlaşdır</a>
                                                        <a class="dropdown-item" href="javascript:void()" onclick="activateUser(@user.id_user)">Aktivləşdir</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="javascript:void()" onclick="changeAsSubscriber(@user.id_user)">Favorit et</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="javascript:void()" onclick="deleteUser(@user.id_user)">Sil</a>
                                                    </div>
                                                </div>
                                                <div class="dropdown show">
                                                    <a class="btn btn-secondary dropdown-toggle" style="background-color:#358753" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Ödəniş
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item" href="javascript:void()" data-toggle="modal" data-target="#addPaymentModal" onclick="getUserIdForAddPayment(@user.id_user)">Ödəniş əlavə et</a>
                                                        <a class="dropdown-item" href="javascript:void()" data-toggle="modal" data-target="#paymentListModal" onclick="showPayment(@user.id_user)">Ödəniş tarixçəsi</a>
                                                    </div>
                                                </div>
                                                <div class="dropdown show">
                                                    <a class="btn btn-secondary dropdown-toggle" style="background-color:#358753" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Digər
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item" href="javascript:void()" data-toggle="modal" data-target="#addNoteModal" onclick="getUserIdForAddNote(@user.id_user)">Qeyd əlavə et</a>
                                                        <a class="dropdown-item" href="javascript:void()" data-toggle="modal" data-target="#showNotesModal" onclick="showNote(@user.id_user)">Qeydlərə bax</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="javascript:void()" onclick="changeTag(@user.id_user)">Fərqləndir</a>
                                                        <a class="dropdown-item" href="javascript:void()" onclick="clearTag(@user.id_user)"> - ləğv et</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="javascript:void()" data-toggle="modal" data-target="#addReminderModal" onclick="getUserIdForAddReminder(@user.id_user)">Xatırlatma əlavə et</a>
                                                        <a class="dropdown-item" href="javascript:void()" onclick="deleteReminder(@user.id_user)"> - ləğv et</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="javascript:void()" data-toggle="modal" data-target="#updateUserModal" onclick="getUserInfoForUpdateUser(@user.id_user)">Redaktə et</a>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

@Html.Partial("_SourcesStatisticsModal")
@Html.Partial("_ClearTagsModal")
@Html.Partial("_AddPaymentModal")
@Html.Partial("_PaymentListModal")
@Html.Partial("_SuccessOperationModal")
@Html.Partial("_AllNoteListModal")
@Html.Partial("_AllPaymentListModal")
@Html.Partial("_AddNoteModal")
@Html.Partial("_ShowNoteModal")
@Html.Partial("_AddReminderModal")
@Html.Partial("_AddUserModal")
@Html.Partial("_UpdateUserModal")
